:host #wrapper {
  display: grid;
}
:host #pic {
  grid-row: 1;
  grid-column: 1;
  height: 200px;
  width: 200px;
}
:host #description {
  grid-row: 1;
  grid-column: 2;
}
:host #repositories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row: 2;
  grid-column: span 2;
}
:host #repositories div {
  border: 1px solid red;
  margin: 10px;
  padding: 5px;
  width: 150px;
}
